<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webapp1</display-name>
  <context-param>
    <param-name>counter</param-name>
    <param-value>25</param-value>
  </context-param>
  <servlet>
    <servlet-name>Welcome1</servlet-name>
    <servlet-class>ai.jobiak.app.Welcome1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome1</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Intro</servlet-name>
    <servlet-class>ai.jobiak.app.Intro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Intro</servlet-name>
    <url-pattern>/begin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FactorialServlet</servlet-name>
    <servlet-class>ai.jobiak.app.FactorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorialServlet</servlet-name>
    <url-pattern>/fact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcServlet</servlet-name>
    <servlet-class>ai.jobiak.app.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcServlet</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>ai.jobiak.app.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStringServlet</display-name>
    <servlet-name>QueryStringServlet</servlet-name>
    <servlet-class>ai.jobiak.http.QueryStringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStringServlet</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>to process form data</description>
    <display-name>SignupForm</display-name>
    <servlet-name>SignupForm</servlet-name>
    <servlet-class>ai.jobiak.http.SignupForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupForm</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcConfigServlet</display-name>
    <servlet-name>JdbcConfigServlet</servlet-name>
    <servlet-class>ai.jobiak.http.JdbcConfigServlet</servlet-class>
    <init-param>
      <description>username for db</description>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <description>db password</description>
      <param-name>password</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <description>mysql connection</description>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/world</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcConfigServlet</servlet-name>
    <url-pattern>/jdbcconfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>ai.jobiak.http.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>ai.jobiak.http.B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>C</display-name>
    <servlet-name>C</servlet-name>
    <servlet-class>ai.jobiak.http.C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task1</display-name>
    <servlet-name>Task1</servlet-name>
    <servlet-class>ai.jobiak.work.Task1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task1</servlet-name>
    <url-pattern>/t1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task2</display-name>
    <servlet-name>Task2</servlet-name>
    <servlet-class>ai.jobiak.work.Task2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task2</servlet-name>
    <url-pattern>/t2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task3</display-name>
    <servlet-name>Task3</servlet-name>
    <servlet-class>ai.jobiak.work.Task3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task3</servlet-name>
    <url-pattern>/t3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task4</display-name>
    <servlet-name>Task4</servlet-name>
    <servlet-class>ai.jobiak.work.Task4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task4</servlet-name>
    <url-pattern>/t4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task5</display-name>
    <servlet-name>Task5</servlet-name>
    <servlet-class>ai.jobiak.work.Task5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task5</servlet-name>
    <url-pattern>/t5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task6</display-name>
    <servlet-name>Task6</servlet-name>
    <servlet-class>ai.jobiak.work.Task6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task6</servlet-name>
    <url-pattern>/t6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task7</display-name>
    <servlet-name>Task7</servlet-name>
    <servlet-class>ai.jobiak.work.Task7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task7</servlet-name>
    <url-pattern>/t7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task8</display-name>
    <servlet-name>Task8</servlet-name>
    <servlet-class>ai.jobiak.work.Task8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task8</servlet-name>
    <url-pattern>/t8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task9</display-name>
    <servlet-name>Task9</servlet-name>
    <servlet-class>ai.jobiak.work.Task9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task9</servlet-name>
    <url-pattern>/t9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task10</display-name>
    <servlet-name>Task10</servlet-name>
    <servlet-class>ai.jobiak.work.Task10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task10</servlet-name>
    <url-pattern>/t10</url-pattern>
  </servlet-mapping>
</web-app>