<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>webapp1</display-name>


	<servlet>
		<servlet-name>Welcome1</servlet-name>
		<servlet-class>ai.jobiak.app.Welcome1</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Welcome1</servlet-name>
		<url-pattern>/start</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>Intro</servlet-name>
		<servlet-class>ai.jobiak.app.Intro</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Intro</servlet-name>
		<url-pattern>/begin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FactorialServlet</servlet-name>
		<servlet-class>ai.jobiak.app.FactorialServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>FactorialServlet</servlet-name>
		<url-pattern>/fact</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>JdbcServlet</servlet-name>
		<servlet-class>ai.jobiak.app.JdbcServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>JdbcServlet</servlet-name>
		<url-pattern>/connect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LifeCycleServlet</servlet-name>
		<servlet-class>ai.jobiak.app.LifeCycleServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>LifeCycleServlet</servlet-name>
		<url-pattern>/go</url-pattern>
	</servlet-mapping>

	

</web-app>